/*
Hieu ung cho dinh ngoi den
*/
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .dot--animate {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: rgba(255, 251, 36, 0.7);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);

    -o-animation: explode 1.4s infinite;
    -moz-animation: explode 1.4s infinite;
    -webkit-animation: explode 1.4s infinite;
    animation: explode 1.4s infinite;
    top: -0.3%;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: #262626;
    background-color: rgba(255, 251, 36, 0.7);
    top: 4.7%;
}

@keyframes explode {
    from {
        -o-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        background-color: rgba(255, 251, 36, 0.7);
    }
    to {
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: rgba(255, 251, 36, 0.034);
    }
}

/*Sao roi*/
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element {
    position: absolute;
    top: 50%;
    height: 3px;
    background: rgba(38, 38, 38, 0.4);
    border-radius: 999px;
    -o-animation: tail 2s ease-in-out infinite,
                star 2s ease-in-out infinite;
    -moz-animation: tail 2s ease-in-out infinite,
                star 2s ease-in-out infinite;
    -webkit-animation: tail 2s ease-in-out infinite,
                star 2s ease-in-out infinite;
    animation: tail 2s ease-in-out infinite,
                star 2s ease-in-out infinite;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(1) {
    top: calc(50% - 150px);
    left: 10%;
    -o-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(1):before,
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(1):after {
    -o-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(2) {
    top: calc(50% - 75px);
    left: 15%;
    -o-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(2):before,
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(2):after {
    -o-animation-delay: 1.4s;  
    -moz-animation-delay: 1.4s;  
    -webkit-animation-delay: 1.4s;  
    animation-delay: 1.4s;   
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(3) {
    top: 50%;
    left: 5%;
    -o-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(3):before,
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(3):after {
    -o-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(4) {
    top: calc(50% + 75px);
    left: 20%;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(4):before,
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(4):after {
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(5) {
    top: calc(50% + 150px);
    left: 1%;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(5):before,
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(5):after {
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@keyframes tail {
    0% {
        width: 0px;
    }

    50% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes star {
    0% {
        -o-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    100% {
        -o-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:after,
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:before {
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    background: rgba(38, 38, 38, 0.4);
    border-radius: 50%;
    -o-transform: translateX(50%) rotateZ(45deg);
    -moz-transform: translateX(50%) rotateZ(45deg);
    -webkit-transform: translateX(50%) rotateZ(45deg);
    transform: translateX(50%) rotateZ(45deg);

    -o-animation: shine 2s ease-in-out infinite;
    -moz-animation: shine 2s ease-in-out infinite;
    -webkit-animation: shine 2s ease-in-out infinite;
    animation: shine 2s ease-in-out infinite;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:after {
    transform: translateX(50%) rotateZ(-45deg);
}

@keyframes shine {
    0% {
        width: 0px;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

/*
Hieu ung Sparkling temple
*/
.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element {
    position: absolute;
    width: 120px;
    -o-animation: sparkling 2s ease-in-out infinite;
    -moz-animation: sparkling 2s ease-in-out infinite;
    -webkit-animation: sparkling 2s ease-in-out infinite;
    animation: sparkling 2s ease-in-out infinite;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(1) {
    width: 120px;
    top: 45%;
    left: -7%;
    -o-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(2) {
    width: 80px;
    top: 30%;
    left: 30%;
    -o-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(3) {
    width: 100px;
    top: 63%;
    left: 50%;
    -o-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(4) {
    width: 60px;
    top: 20%;
    left: 56%;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(5) {
    width: 80px;
    top: 30%;
    left: 90%;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(6) {
    width: 120px;
    top: 3%;
    left: 5%;
    -o-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

@keyframes sparkling {
    0% {
        -o-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    50% {
        -o-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -o-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}