.btn {
  display: flex;
  background-color: var(--clr-background);
}

.btn-close {
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}