:root {
    --footer__height: 60px;
}

div.footer {
    position: fixed;
    width: 100%;
    height: var(--footer__height);
    bottom: 0;
    left: 0;
    z-index: 4;
}


div.footer__name {
    position: absolute;
    float: left;
    width: 320px;
    height: var(--footer__height);
    left: 20px;
}

div.footer__name__container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
}

div.footer__name__container p {
    cursor: default;
    font-size: 14pt;
    font-family: 'MyriadPro-Light';
    line-height: var(--footer__height);
}

div.footer__text {
    position: absolute;
    float: right;
    width: 320px;
    height: var(--footer__height);
    right: 20px;
}

div.footer__text__container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
}

div.footer__text__container p {
    cursor: default;
    font-size: 14pt;
    font-family: 'MyriadPro-Light';
    line-height: var(--footer__height);
}