/*
header
header__logo
header__logo__container
header__logo-svg
header__name
header__name__container
header__navigate
header__navigate_container
header__navigate__row-1">
header__navigate__row-1__col-1
header__navigate__row-1__col-2
header__navigate__row-1__col-3
*/

:root {
  --header__height: 60px;
  --logo__width: 40px;
  --logo__height: 40px;
  --container__logo__width: 60px;
}

.header {
  position: fixed;
  width: 100%;
  height: var(--header__height);
  top: 0;
  left: 0;
  z-index: 7;
  background-color: var(--clr-background);
}


.header__logo {
  position: absolute;
  height: var(--header__height);
  width: var(--container__logo__width);
  z-index: 2;
  right: 0;
}

.header__logo__container {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translateY(-40%);
}

img.header__logo-svg {
  width: var(--logo__width);
  height: var(--logo__height);
}


.header__name {
  position: absolute;
  float: left;
  width: 120px;
  height: var(--header__height);
  left: 20px;
}

.header__name__container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 10;
}

.header__name__container p {
  cursor: defat;
  line-height: var(--header__height);
}

.header__name__container a {
  text-decoration: none;
  color: var(--clr-onBackground);
}

.header__navigate {
  position: absolute;
  width: 100%;
  height: var(--header__height);
  margin: 0 auto;
}

.header__navigate__container {
  width: 360px;
  height: var(--header__height);
  margin: 0 auto;
  text-align: center;
}

.header__navigate__row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__navigate .header__navigate__row-1 li {
  display: inline;
  text-align: center;
  line-height: var(--header__height);
}

.header__navigate .header__navigate__row-1 li a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  /*Header*/
  .header {
    width: 100vw;
  }

  .header, .header__logo, .header__name, .header__navigate, .header__navigate__container {
    height: 30px;
  }

  .header__name {
    left: 10px;
  }

  .header__logo {
    width: 30px;
  }

  img.header__logo-svg {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
  }

  .header__navigate .header__navigate__row-1 li, .header__name__container p {
    line-height: 30px;
  }

  .header__navigate__row-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    right: 0;
  }

  .menu--hidden {
    opacity: 0;
  }


  .header__navigate, .header__navigate__container {
    right: 0;
    width: 50%;
  }

  .header__navigate .header__navigate__row-1 li {
    display: inline;
    text-align: right;
    line-height: 30px;
    transform: translateY(0);
    transition: ease-in-out 0.4s;
    padding: 0;
  }

  .header__navigate .header__navigate__row-1 li:nth-child(2) {
    animation-delay: 0.2s;
  }

  .header__navigate .header__navigate__row-1 li:nth-child(3) {
    animation-delay: 0.4s;
  }

  .li--show {
    transition: ease-in-out 0.4s;
    animation: seek 1s;
  }

  @keyframes seek {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .header__navigate {
    width: 50%;
  }

  .header__navigate__container {
    position: absolute;
    margin: 0;
    right: 10px;
    width: 100%;
  }
}