/* Work details dialog */
.work-details {
  box-shadow: 5px 5px var(--clr-onBackground);
  border: 1px solid var(--clr-onBackground);
  max-height: 720px;
  overflow-y: scroll;
}

.work-details-close-btn {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  z-index: 999;
}

.work-details-header {
  width: 100%;
  height: 300px;
  display: block;
  background-color: var(--clr-outline);
}

.work-details-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.description-content {
  white-space: pre-line;
}