.project {
  width: 100%;
  padding: 120px 80px 80px 80px;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.project-card {
  position: relative;
  height: 420px;
  border: 1px solid var(--clr-onBackground);
  background-color: var(--clr-background);
}

.project-card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--clr-onBackground);
  top: 5px;
  left: 5px;
}

.project-card-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 240px;
  border-bottom: 1px solid var(--clr-onBackground);
}

.project-card-header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--clr-onBackground);
}

.project-card-content a {
  text-decoration: underline;
  color: var(--clr-warning);
}

.project-card-tags,
.project-card-desc,
.project-card-name {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

@media only screen and (max-width: 1440px) {
  .project {
    padding: 120px 60px 60px 60px;
  }
}

@media only screen and (max-width: 600px) {
  .project {
    padding: 120px 20px 20px 20px;
  }
}