@import url("./aw1_effect.css");
@import url("./aw2_effect.css");
@import url("./aw3_effect.css");
@import url("./body.css");
@import url("./footer.css");
@import url("./reponsive.css");

/*
Ba dau cham ben phai
*/
div.indexdot {
  position: fixed;
  width: 30px;
  height: 100%;
  top: 0;
  left: calc(100vw - 30px);
  z-index: 5;
}

div.indexdot__containner {
  position: absolute;
  width: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.indexdot__containner ul li{
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #262626;
  margin: 10px 0;
  list-style-type: none;
  transform: translateX(-50%);
}

.dot--active {
  transition: ease-in-out 0.4s;
  background-color: #262626;
}

/*
Canvas
*/
.body__part-4__midground__artwork__planets {
  position: absolute;
  transform: rotateZ(-15deg);
}