@media only screen and (max-width: 1300px) {
  .body__part-1 .body__part-1__content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 83%;
  }

  .body__part-1  .body__part-1__content .body__part-1__container__text .body__part-1__text:nth-child(1) {
    font-size: 16pt;
    text-align: center;
  }
  
  .body__part-1  .body__part-1__content .body__part-1__container__text .body__part-1__text:nth-child(2) {
    font-size: 12pt;
    text-align: center;
  }

  .body__part-1 .body__part-1__content .body__part-1__content__toggle__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
  }   

  .body__part-1 .body__part-1__content .body__part-1__content__toggle__button .body__part-1__content__button, 
  .body__part-1 .body__part-1__content .body__part-1__content__toggle__button .body__part-1__content__slash {
    font-size: 12pt;
  }



  /*Body 2*/
  .body__part-2 .body__part-2__content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 83%;
  }


  .body__part-2 .body__part-2__content .body__part-2__container__text .body__part-2__text {
    font-size: 12pt;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  /*Footer*/
  div.footer {
    width: 100vw;
  }

  div.footer__name {
    left: 10px;
  }

  div.footer__text {
    right: 10px;
  }

  div.footer__name__container p, div.footer__text__container p {
    line-height: 30px;
    font-size: 10pt;
  }

  div.footer, div.footer__name, div.footer__text {
    height: 30px;
  }

  .footer__name, .footer__information-output, .footer__text {
    width: 100%;
  }

  /*Index dot*/

  div.indexdot__containner ul li {
    width: 12px;
    height: 12px;
    transform: translateX(50%);
  }



  /*
      Body 1
  */
  div.body__part-1__midground__artwork {
    width: 100%;
    height: 100vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork-svg, 
  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect {
    width: 80%;
    height: 80vw;
  }

  .body__part-1 .body__part-1__content {
    top: calc(52.3562% + 50vw);
  }

  .body__part-1  .body__part-1__content .body__part-1__container__text .body__part-1__text:nth-child(1) {
    font-size: 3.5vw;
  }
  
  .body__part-1  .body__part-1__content .body__part-1__container__text .body__part-1__text:nth-child(2) {
    font-size: 2.6vw;
  }
  .body__part-1 .body__part-1__content .body__part-1__content__toggle__button {
    margin-top: 1.66666667vw;
  }

  .body__part-1 .body__part-1__content .body__part-1__content__toggle__button .body__part-1__content__button, 
  .body__part-1 .body__part-1__content .body__part-1__content__toggle__button .body__part-1__content__slash {
    font-size: 2.6vw;
  }

  @keyframes tail {
    0% {
      width: 0px;
    }

    50% {
      width: 16.666667%;
    }

    100% {
      width: 0;
    }
  }
  
  @keyframes star {
    0% {
      -o-transform: translateX(-50vw);
      -moz-transform: translateX(-50vw);
      -webkit-transform: translateX(-50vw);
      transform: translateX(-50vw);
    }

    100% {
      -o-transform: translateX(50vw);
      -moz-transform: translateX(50vw);
      -webkit-transform: translateX(50vw);
      transform: translateX(50vw);
    }
  }

  @keyframes shine {
    0% {
      width: 0px;
    }

    50% {
      width: 5vw;
    }

    100% {
      width: 0;
    }
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element {
    height: 0.5vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:after,
  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:before {
    height: 0.66666667vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(1) {
    top: calc(50% - 25vw);
  }
  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(2) {
    top: calc(50% - 12.5vw);
  }
  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(3) {
    top: 50%;
  }
  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(4) {
    top: calc(50% + 12.5vw);
  }
  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_starfall_bg .artwork_starfall-element:nth-child(5) {
    top: calc(50% + 25vw);
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(1) {
    width: 20vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(2) {
    width: 13.333333vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(3) {
    width: 16.666667vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(4) {
    width: 10vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(5) {
    width: 13.333333vw;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .artwork_sparkling_bg .artwork_sparkling-element:nth-child(6) {
    width: 20vw;
  }



  /*
      Body 2
  */
  div.body__part-2__midground__artwork {
    width: 100%;
    height: 100vw;
  }
  .body__part-2 .body__part-2__midground .body__part-2__midground__artwork .artwork-2-svg {
    width: 80%;
    height: 80vw;
  }

  .body__part-2 .body__part-2__content-mid {
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .body__part-2 .body__part-2__content {
    top: calc(52.3562% + 50vw);
  }

  .body__part-2  .body__part-2__content .body__part-2__container__text .body__part-2__text {
    font-size: 2.6vw;
  }


  /*
      Body 3
  */
  div.body__part-4__midground__artwork {
    width: 100%;
    height: 100vw;
  }

  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork video {
    width: 53.3333333%;
    height: 53.3333333vw;
  }

  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork .artwork-3_effect .artwork-3_sparkling_bg .artwork-3_sparkling-element {
    width: 16vw;
  }

  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork .artwork-3_effect .artwork-3_sparkling_bg .artwork-3_sparkling-element:nth-child(2) {
    width: 15vw;
    top: 35%;
    left: 27%;
  }
  
  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork .artwork-3_effect .artwork-3_sparkling_bg .artwork-3_sparkling-element:nth-child(4) {
    width: 12vw;
    top: 20%;
    left: 70%;
  }
  
  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork .artwork-3_effect .artwork-3_sparkling_bg .artwork-3_sparkling-element:nth-child(3) {
    width: 20vw;
    top: 62%;
    left: 16%;
  }
  
  
  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork .artwork-3_effect .artwork-3_sparkling_bg .artwork-3_sparkling-element:nth-child(5) {
    width: 10vw;
    top: 83%;
    left: 70%;
  }
  
  .body__part-4 .body__part-4__midground .body__part-4__midground__artwork .artwork-3_effect .artwork-3_sparkling_bg .artwork-3_sparkling-element:nth-child(1) {
    width: 16vw;
    top: 10%;
    left: 10%;
  }
  .body__part-4 .body__part-4__content {
    top: 70% + 10vw;
  }

  .body__part-4  .body__part-4__content .body__part-4__container__text .body__part-4__text {
    font-size: 2.6vw;
  }

  @keyframes sparkling {
    0% {
      -o-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }

    50% {
      -o-transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    100% {
      -o-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }
  }

  div.socialmedia__containner ul li a {
    font-size: 12pt;
    margin-left: 10px;
  }

  .body__part-1 .body__part-1__midground .body__part-1__midground__artwork .artwork_effect .dot {
    width: 6px;
    height: 6px;
    top: 4.8%;
  }
}